$bcg: #fafbfd;
$red: #ec5863;
$red-hover: #e7858c;
$blue: #4285f4;
$blue-hover: #5a95f3;
$gray: #616161;
$light-gray: #b0b0b0;

@mixin breakpoint($point) {
  // PC:
  @if $point == lg {
    @media (max-width: 1087px) {
      @content;
    }
    //Tablet:
  } @else if $point == md {
    @media (max-width: 991.98px) {
      @content;
    }
    //Mobile
  } @else if $point == sm {
    @media (max-width: 767.98px) {
      @content;
    }
    //Mobile small
  } @else if $point == xs {
    @media (max-width: 479.98px) {
      @content;
    }
  }
}
